/*###################################
YITH WooCommerce Added to Cart Popup
####################################*/
html.yith_wacp_open,
html.yith_wacp_open body {
    overflow: hidden !important;
}

#yith-wacp-popup .yith-wacp-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 10000;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#yith-wacp-popup .yith-wacp-wrapper {
    position: fixed;
    width: auto;
    height: auto;
    z-index: 20000;
    visibility: hidden;
}

#yith-wacp-popup .yith-wacp-main {
    padding: 25px 0;
    opacity: 0;
    background-color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    height: 100%;
    box-sizing: border-box;
}

#yith-wacp-popup.open .yith-wacp-wrapper {
    visibility: visible;
}
#yith-wacp-popup.open .yith-wacp-overlay {
    visibility: visible;
}
#yith-wacp-popup.open .yith-wacp-main {
    opacity: 1;
}

#yith-wacp-popup.tred-flip-v .yith-wacp-wrapper,
#yith-wacp-popup.tred-flip-h .yith-wacp-wrapper {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

/*############## FADE-IN #############*/

#yith-wacp-popup.fade-in .yith-wacp-main {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}
#yith-wacp-popup.fade-in.open .yith-wacp-main {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/*############# SLIDE-IN-RIGHT ############# */

#yith-wacp-popup.slide-in-right .yith-wacp-main {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%);
}
#yith-wacp-popup.slide-in-right.open .yith-wacp-main {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/*############# SLIDE-IN-BOTTOM ############# */

#yith-wacp-popup.slide-in-bottom .yith-wacp-main {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
}
#yith-wacp-popup.slide-in-bottom.open .yith-wacp-main {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/*############# SLIDE-IN-LEFT ############# */

#yith-wacp-popup.slide-in-left .yith-wacp-main {
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    transform: translateX(-20%);
}
#yith-wacp-popup.slide-in-left.open .yith-wacp-main {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/*############# SLIDE-IN-TOP ############# */

#yith-wacp-popup.slide-in-top .yith-wacp-main {
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}
#yith-wacp-popup.slide-in-top.open .yith-wacp-main {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/*############# SCALE-UP ############# */

#yith-wacp-popup.scale-up .yith-wacp-main {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
#yith-wacp-popup.scale-up.open .yith-wacp-main {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/*############# 3D-FLIP-VERTICAL ############# */

#yith-wacp-popup.tred-flip-v .yith-wacp-main {
    webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
}
#yith-wacp-popup.tred-flip-v.open .yith-wacp-main {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

/*############# 3D-FLIP-VERTICAL ############# */

#yith-wacp-popup.tred-flip-h .yith-wacp-main {
    --webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-70deg);
    -moz-transform: rotateY(-70deg);
    -ms-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
}
#yith-wacp-popup.tred-flip-h.open .yith-wacp-main {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

#yith-wacp-popup .yith-wacp-close {
    position: absolute;
    top: -30px;
    right: -5px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}

#yith-wacp-popup .yith-wacp-content {
    padding: 0 25px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

.yith-wacp-content .yith-wacp-message {
    margin-bottom: 25px;
    font-size: 14px;
    padding: 10px 15px;
}
.yith-wacp-content .yith-wacp-message:after {
    display: table;
    content: '';
    clear: both;
}
.yith-wacp-content .yith-wacp-message span {
    display: inline-block;
    vertical-align: middle;
}
.yith-wacp-content .yith-wacp-message span.message-icon {
    margin: 0 10px;
}

.yith-wacp-content h3.cart-list-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;
}

.yith-wacp-content .product-thumb {
    float: left;
    margin-right: 20px;
}
.yith-wacp-content .product-thumb img {
    max-width: 100%;
    height: auto;
}
.yith-wacp-content .info-box {
    overflow: hidden;
    background: none;
    border: none;
}
.yith-wacp-content .product-info {
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.yith-wacp-content .product-price del {
    font-size: 80%;
    opacity: 0.6;
    display: inline-block !important;
}
.yith-wacp-content .product-price ins {
    background-color: transparent;
    text-decoration: none;
}
.yith-wacp-content .cart-info {
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}
.yith-wacp-content .popup-actions {
    clear: both;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.yith-wacp-content .popup-actions .button {
    min-width: 30%;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    margin: 5px;
    border-radius: 0;
    line-height: normal;
}
.yith-wacp-content h3.product-title {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 0;
}
.yith-wacp-content .product-price {
    font-size: 20px;
    text-align: left;
}
.yith-wacp-content .cart-info > div {
    font-size: 15px;
    text-transform: uppercase;
    clear: both;
    font-weight: 700;
}
.yith-wacp-content .cart-info > div > span {
    float: right;
}

.yith-wacp-content .product-variation dl,
.yith-wacp-content .product-variation dd,
.yith-wacp-content .product-variation dt,
.yith-wacp-content .product-variation p {
    margin-bottom: 0;
    font-size: 90%;
}
.yith-wacp-content .product-variation p {
    display: inline-block;
    vertical-align: bottom;
}
.yith-wacp-content .product-variation dt {
    float: left;
    margin-right: 5px;
    clear: left;
}


.yith-wacp-content .yith-wacp-related {
    margin-top: 20px;
}
.yith-wacp-content .yith-wacp-related > h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 20px;
}
.yith-wacp-content .yith-wacp-related ul.products {
    list-style: none;
    padding: 0;
    margin: 0;
}
.yith-wacp-content .yith-wacp-related ul.products.columns-2 li.product {
    width: 48%;
}
.yith-wacp-content .yith-wacp-related ul.products.columns-3 li.product {
    width: 30.6%;
}
.yith-wacp-content .yith-wacp-related ul.products.columns-4 li.product {
    width: 22%;
}
.yith-wacp-content .yith-wacp-related ul.products.columns-5 li.product {
    width: 16.8%;
}
.yith-wacp-content .yith-wacp-related ul.products.columns-6 li.product {
    width: 13.3%;
}
.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product {
    margin-bottom: 0;
    margin-right: 4%;
    float: left;
    clear: none;
    position: relative;
}
.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product.first {
    clear: both;
}
.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product span.onsale-icon {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}
.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product.last {
    margin-right: 0;
}
.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product .product-image {
    margin-bottom: 10px;
    position: relative;
}
.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product .product-image .onsale {
    position: absolute;
    right: 0;
    top: 0;
}
.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product .product-price {
    font-size: 15px;
    text-align: center;
}
.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product img {
    max-width: 100%;
}
.yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product h3 {
    padding: 0;
    font-size: 14px;
    margin-bottom: 10px;
}

/*########### CONTENT TABLE CART ############*/

.yith-wacp-content table.cart-list {
    width: 100%;
    border: none;
    margin-bottom: 0;
    border-collapse: collapse;
}
.yith-wacp-content table.cart-list tr {
    border-bottom: 1px solid #e0e0e0;
}
.yith-wacp-content table.cart-list tr.bundled_table_item:last-child {
    border-bottom: 1px solid #e0e0e0 !important;
}
.yith-wacp-content table.cart-list tr.bundled_table_item + tr:not( .bundled_table_item ) {
    border-top: 1px solid #e0e0e0;
}
.yith-wacp-content table.cart-list tr.bundled_table_item td.item-remove:after {
    font-family: 'FontAwesomePB';
    font-size: 1rem;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    content: "\f148";
    margin: 0 12px 0 3px;
    opacity: .25;
}
.yith-wacp-content table.cart-list td {
    padding: 15px 10px;
    border: none;
    vertical-align: middle;
}
.yith-wacp-content table.cart-list tr.bundled_table_item td.item-remove:before {

}
.yith-wacp-content table.cart-list td.item-remove {
    padding-left: 0;
    width: 34px;
}
.yith-wacp-content table.cart-list td.item-remove a {
    text-indent: -9999px;
    background: url( '../images/remove-icon.svg' ) no-repeat center;
    background-size: contain;
    width: 24px;
    height: 20px;
    display: block;
    outline: none;
}
.yith-wacp-content table.cart-list td.item-remove a:before {
    display: none;
}
.yith-wacp-content table.cart-list td.item-remove a:hover {
    background: url( '../images/remove-icon-hover.svg' ) no-repeat center;
    background-size: contain;
}
.yith-wacp-content table.cart-list td.item-thumb {
    width: 90px;
    text-align: center;
}
.yith-wacp-content table.cart-list td.item-thumb img {
    max-width: 70px;
    height: auto;
}
.yith-wacp-content table.cart-list td.item-info {
    font-size: 15px;
}
.yith-wacp-content table.cart-list td.item-info .item-name {
    display: block;
}
.yith-wacp-content table.cart-list td.item-info .item-price {
    font-weight: 700;
}
.yith-wacp-content table.cart-list td.item-info .bundled_table_item_price:before {
    display: none;
}
.yith-wacp-content table.cart-list td.item-info dl,
.yith-wacp-content table.cart-list td.item-info dd,
.yith-wacp-content table.cart-list td.item-info p {
    margin-bottom: 0;
}
.yith-wacp-content table.cart-list td.item-info dt,
.yith-wacp-content table.cart-list td.item-info dd {
    display: inline-block;
}
.yith-wacp-content table.cart-list td.item-price,
.yith-wacp-content table.cart-list td.item-quantity {
    text-align: center;
}
.yith-wacp-content table.cart-list td.item-subtotal {
    text-align: right;
}

table.cart-list .blockUI.blockOverlay:before, table.cart-list .loader:before {
    background: none;
}

/* Mini Cart */
#yith-wacp-mini-cart {
    position: fixed;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #ccc;
    z-index: 1000;
    cursor: pointer;
    display: none;
}
.yith-wacp-mini-cart-icon {
    width: 45px;
    height: 45px;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: center;
}
.yith-wacp-mini-cart-count {
    position: absolute;
    top: -13px;
    left: -15px;
    background: #ff171a;
    color: #fff;
    min-width: 25px;
    height: 25px;
    padding: 0 5px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
}

@media(max-width: 768px) {
    #yith-wacp-popup .yith-wacp-content {}
    .yith-wacp-content .yith-wacp-related li.product.yith-wacp-related-product:nth-of-type(2n) {
        float: left;
        clear: none;
    }
    .yith-wacp-content .yith-wacp-related li.product a.button {
         display: block;
         white-space: initial;
         text-align: center;
     }
}

@media (max-width: 480px) {
    .yith-wacp-content .product-thumb {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .yith-wacp-content .product-thumb img {
        max-width: 80px;
    }
    .yith-wacp-content .info-box {
        overflow: visible;
    }
    .yith-wacp-content .product-info {
        padding-bottom: 10px;
    }
    .yith-wacp-content h3.product-title {
        font-size: 18px;
    }
    .yith-wacp-content .product-price {
        font-size: 15px;
    }
    .yith-wacp-content .cart-info > div {
        font-size: 12px;
    }
    .yith-wacp-content .cart-info {
        padding: 10px 0;
    }
    .yith-wacp-content .popup-actions {
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .yith-wacp-content .popup-actions .button {
        font-size: 11px;
        width: 100%;
        margin: 0 0 5px;
        box-sizing: border-box;
    }
    #yith-wacp-popup .yith-wacp-content {}

    .yith-wacp-content .yith-wacp-related {
        margin-top: 10px;
    }
    .yith-wacp-content .yith-wacp-related > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .yith-wacp-content .yith-wacp-related ul.products.columns-3 li.product,
    .yith-wacp-content .yith-wacp-related ul.products.columns-4 li.product,
    .yith-wacp-content .yith-wacp-related ul.products.columns-5 li.product,
    .yith-wacp-content .yith-wacp-related ul.products.columns-6 li.product {
        width: 48%;
        margin-bottom: 10px;
    }
    .yith-wacp-content .yith-wacp-related ul.products li.product:nth-of-type(2n+1) {
        float: left;
        clear: both !important;
    }
    .yith-wacp-content .yith-wacp-related ul.products li.product:nth-of-type(2n) {
        float: right;
        margin-right: 0;
        clear: none !important;
    }

    /* cart */
    .yith-wacp-content table.cart-list,
    .yith-wacp-content table.cart-list tbody {
        display: block;
    }
    .yith-wacp-content table.cart-list tr {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .yith-wacp-content table.cart-list td {
        padding: 10px 10px;
    }
    .yith-wacp-content table.cart-list td.item-thumb {
        width: 70px;
        flex: 30%;
    }
    .yith-wacp-content table.cart-list td.item-thumb img {
        width: 50px;
    }
    .yith-wacp-content table.cart-list td.item-remove {
        width: 25px;
        flex: 10%;
    }
    .yith-wacp-content table.cart-list td.item-quantity {
        flex: 30%;
    }
    .yith-wacp-content table.cart-list td.item-subtotal {
        flex: 70%;
        text-align: center;
    }
    .yith-wacp-content table.cart-list td.item-info {
        flex: 60%;
    }
    .yith-wacp-content table.cart-list td.item-info,
    .yith-wacp-content table.cart-list td.item-subtotal,
    .yith-wacp-content table.cart-list td.item-quantity input {
        font-size: 13px;
    }
    .yith-wacp-content table.cart-list td.item-price {
        display: none;
    }
    .yith-wacp-content table.cart-list td.item-quantity .quantity {
        margin: 0 !important;
        display: inline-block;
    }
}

@media (max-width: 320px) {
    .yith-wacp-content table.cart-list td.item-thumb {
        display: none;
    }
    .yith-wacp-content table.cart-list td.item-info,
    .yith-wacp-content table.cart-list td.item-subtotal,
    .yith-wacp-content table.cart-list td.item-quantity input {
        font-size: 12px;
    }
    .yith-wacp-content .yith-wacp-related ul.products li.product {
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important; ;
        margin-bottom: 10px;
    }
}