/**
 * Variables.
 */
.iconic-wsb-btn {
  margin: 0 !important;
  padding: 10px 15px;
  border: none;
  background: #D52222;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.iconic-wsb-btn:hover {
  background: #c72020;
}

.iconic-wsb-btn--buy[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.iconic-wsb-product-bumps__button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.mfp-bg {
  opacity: 0.5;
}

.iconic-wsb-product-bumps {
  margin: 40px 0 20px;
  clear: both;
  overflow: hidden;
  border: 1px solid #e2e5e7;
  border-radius: 4px;
}

.iconic-wsb-product-bumps__button-wrap {
  margin-top: 25px;
}

.iconic-wsb-product-bumps__button {
  margin: 0 !important;
  float: none;
}

.iconic-wsb-product-bumps__header {
  padding: 10px 20px;
  background: #f0f1f2;
}

.iconic-wsb-product-bumps__title {
  font-size: 1.5em;
  margin: 0 !important;
}

.iconic-wsb-product-bumps__actions {
  overflow: hidden;
  padding: 20px 20px 30px;
}

.iconic-wsb-product-bumps__total-price {
  margin: 0 0 5px;
}

.iconic-wsb-product-bumps__total-price-label {
  opacity: 0.8;
}

.iconic-wsb-product-bumps__total-price-amount {
  font-size: 120%;
  display: block;
}

.iconic-wsb-product-bumps__images {
  list-style: none none outside !important;
  margin: 20px 0 0 !important;
  padding: 0 20px 10px !important;
  overflow: hidden;
}

.iconic-wsb-product-bumps--has-sales-pitch .iconic-wsb-product-bumps__images {
  padding-bottom: 0px !important;
  margin-bottom: -10px !important;
}

.iconic-wsb-product-bumps__image {
  float: left;
  width: auto;
  display: inline-block;
  margin: 0 0 10px 0 !important;
  padding: 0 15px 0 0 !important;
  position: relative;
}

.iconic-wsb-product-bumps__image:after {
  content: "+";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 15px;
  text-align: center;
}

.iconic-wsb-product-bumps__image:last-child, .iconic-wsb-product-bumps__image--no-plus {
  padding-right: 0 !important;
}

.iconic-wsb-product-bumps__image:last-child:after, .iconic-wsb-product-bumps__image--no-plus:after {
  display: none;
}

.iconic-wsb-product-bumps__image img {
  display: block;
  width: 60px;
  height: 60px;
}

.iconic-wsb-product-bumps__list {
  list-style: none none outside;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e2e5e7;
}

.iconic-wsb-product-bumps__list-item {
  margin: 0 !important;
  list-style: none;
  padding: 8px 20px;
  border-bottom: 1px solid #e2e5e7;
}

.iconic-wsb-product-bumps__list-item:last-child {
  margin-bottom: 0;
}

.iconic-wsb-product-bumps__list-item--faded {
  opacity: 0.5;
}

.iconic-wsb-product-bumps__discount-message {
  background: #BE0526;
  padding: 2px 10px;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  margin: 0;
  position: relative;
}

.iconic-wsb-product-bumps__discount-message:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #BE0526 transparent;
  position: absolute;
  top: -5px;
  left: 10px;
}

.iconic-wsb-product-bumps__sales_pitch {
  margin: 0;
  background: #fff;
  padding: 10px 20px;
}

.iconic-wsb-product-bumps__sales_pitch p {
  margin: 0;
}

.iconic-wsb-bump-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconic-wsb-bump-product__aside {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
}

.iconic-wsb-bump-product__body {
  padding: 0 0 0 25px;
  position: relative;
}

.iconic-wsb-bump-product__title {
  margin: 0 5px 0 0;
}

.iconic-wsb-bump-product__checkbox {
  display: inline-block;
  margin: 0 !important;
  position: absolute;
  top: 5px;
  left: 0;
}

.iconic-wsb-bump-product__select {
  display: block;
  margin: 5px 0 7px;
}

.iconic-wsb-bump-product label {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.iconic-wsb-bump-product .amount {
  font-weight: 600;
}

.wsb_select_readonly {
  color: lightgrey;
}

@media (min-width: 768px) {
  .iconic-wsb-modal-product-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .iconic-wsb-modal-product-summary__main {
    width: 65%;
    padding-right: 5%;
  }
}
.iconic-wsb-modal-product-summary__aside {
  margin: 20px 0 0;
}

@media (min-width: 768px) {
  .iconic-wsb-modal-product-summary__aside {
    margin: 0;
    width: 35%;
  }
}
.iconic-wsb-modal-product-summary__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iconic-wsb-modal-product-summary__product-image {
  width: 130px;
}

.iconic-wsb-modal-product-summary__product-info {
  padding-left: 30px;
  width: 60%;
}

.iconic-wsb-modal-product-summary__product-title {
  line-height: 1.2 !important;
  margin: 0 0 5px !important;
}

.iconic-wsb-modal-product-summary__cart-subtotal .amount {
  font-weight: bold;
}

.iconic-wsb-modal-product-summary__checkout {
  margin: 20px 0 10px;
}

.iconic-wsb-modal-product-summary__checkout .button {
  width: 100% !important;
}

.iconic-wsb-modal-product-summary__view-cart {
  text-align: center;
}

.woocommerce-cart.woocommerce-page .iconic-wsb-modal-product-summary__view-cart {
  display: none;
}

@media (min-width: 460px) {
  .iconic-wsb-modal-products {
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .iconic-wsb-modal-products {
    padding-bottom: 40px;
  }
}
.iconic-wsb-modal-products__title {
  font-size: 22px;
}

@media (min-width: 560px) {
  .iconic-wsb-modal-products__product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
  }
}
.iconic-wsb-modal-products__product:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .iconic-wsb-modal-products__product:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 560px) {
  .iconic-wsb-modal-products__product {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .iconic-wsb-modal-products__product {
    width: 33.3%;
    padding: 15px;
  }
}
.iconic-wsb-modal-product {
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 560px) {
  .iconic-wsb-modal-product {
    text-align: left;
  }
}
.iconic-wsb-modal-product__image {
  display: block;
  margin: 0 0 20px;
}

.iconic-wsb-modal-product__image img {
  width: 100%;
  height: auto;
  display: block;
}

.iconic-wsb-modal-product__title {
  font-size: 18px;
  line-height: 1.2;
  margin: 0 !important;
}

.iconic-wsb-modal-product__price {
  margin-bottom: 20px;
}

.iconic-wsb-modal-product__add-to-cart {
  margin: auto 0 0;
}

.iconic-wsb-modal-product__add-to-cart .button {
  margin: 0 !important;
}

.iconic-wsb-modal-product__add-to-cart-form {
  margin: 0 !important;
}

.iconic-wsb-modal-product__add-to-cart {
  width: 100%;
}

.iconic-wsb-checkout-bump {
  margin-bottom: 35px;
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  /**
   * Hide Checkout Bump on Divi Visual Builder if
   * the page is not the checkout page.
   */
}

.iconic-wsb-checkout-bump__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.variations_form .iconic-wsb-checkout-bump__header label {
  margin-bottom: 0;
}

.iconic-wsb-checkout-bump__header-checkbox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 10px 0 0 !important;
}

.iconic-wsb-checkout-bump__header-bump-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
}

.iconic-wsb-checkout-bump__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.iconic-wsb-checkout-bump__product-aside {
  width: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
}

.iconic-wsb-checkout-bump__product-image {
  position: relative;
  height: 100px;
  margin: 2px 0 0;
}

.iconic-wsb-checkout-bump__product-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
}

.iconic-wsb-checkout-bump__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.iconic-wsb-checkout-bump__price {
  margin: 15px 0 0;
  padding: 10px 0 0;
  font-weight: bold;
  border-top: 1px solid #e7e7e7;
}

.iconic-wsb-checkout-bump__price del {
  display: inline-block;
  margin: 0 6px 0 0;
  font-weight: normal;
}

.iconic-wsb-checkout-bump__variable {
  margin: 20px 0 0;
}

.iconic-wsb-checkout-bump__product {
  word-break: break-word;
  white-space: pre-wrap;
}

.iconic-wsb-checkout-bump__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  cursor: not-allowed;
  top: 0;
  left: 0;
  display: none;
}

.iconic-wsb-checkout-bump__variable {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: relative;
}

.iconic-wsb-checkout-bump .iconic-was-swatches {
  margin: 0;
}

.iconic-wsb-checkout-bump .iconic-was-swatches--visual {
  margin-top: -10px;
}

.iconic-wsb-checkout-bump .iconic-was-swatches__item {
  margin: 10px 10px 0 0;
}

.iconic-wsb-checkout-bump .variations {
  margin-bottom: 5px;
}

.iconic-wsb-checkout-bump .variations tr:last-child {
  margin-bottom: 0;
}

.form-row .iconic-wsb-checkout-bump select {
  width: auto;
}

body.theme-Divi.et_pb_pagebuilder_layout:not(.woocommerce-checkout) .iconic-wsb-checkout-bump {
  display: none;
}

.iconic-wsb-checkout-bump.iconic-wsb-checkout-bump__overlay_active .iconic-wsb-checkout-bump__overlay {
  display: block;
}

.iconic-wsb-checkout-bump.iconic-wsb-checkout-bump__overlay_active .iconic-wsb-checkout-bump__variable {
  opacity: 0.5;
}

.iconic-wsb-checkout-bump .variations tbody tr {
  margin-bottom: 10px;
}

.iconic-wsb-checkout-bump .variations tbody tr:last-child {
  margin-bottom: 0;
}

.iconic-wsb-checkout-bump .variations tbody tr:last-child td.label,
.iconic-wsb-checkout-bump .variations tbody tr:last-child td.value {
  padding-bottom: 0;
}

.iconic-wsb-checkout-bump .variations tbody tr td.label,
.iconic-wsb-checkout-bump .variations tbody tr td.value {
  background: transparent;
  padding: 0 15px 15px 0;
}

.wsb_select_readonly {
  color: lightgrey;
}

body .mfp-bg {
  z-index: 111042;
}

body .mfp-wrap {
  z-index: 111043;
}

body .mfp-content {
  z-index: 111045;
}

body .mfp-preloader {
  z-index: 111044;
}

body .mfp-close, body .mfp-arrow {
  z-index: 111046;
}

.iconic-wsb-modal {
  max-width: 900px;
  width: 90%;
  margin: 30px auto;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
}

.admin-bar .iconic-wsb-modal {
  margin-top: 76px;
}

@media (min-width: 782px) {
  .admin-bar .iconic-wsb-modal {
    margin-top: 62px;
  }
}
.iconic-wsb-modal--narrow {
  max-width: 680px;
}

.iconic-wsb-modal__progress {
  margin-bottom: 30px;
}

.iconic-wsb-modal__content {
  padding: 20px;
  height: auto;
}

@media (min-width: 460px) {
  .iconic-wsb-modal__content {
    padding: 30px 40px 0px 40px;
  }
}
@media (min-width: 768px) {
  .iconic-wsb-modal__content {
    padding: 40px 50px 0px 50px;
  }
}
.iconic-wsb-modal__header {
  padding: 16px 54px;
  position: relative;
  line-height: 24px;
  background: #25bdae;
  border-radius: 4px 4px 0 0;
  color: #fff;
}

.iconic-wsb-modal__header-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  fill: #fff;
}

.iconic-wsb-modal__header-icon--success {
  position: absolute;
  left: 20px;
}

.iconic-wsb-modal__header-icon--close {
  width: 16px;
  height: 20px;
  cursor: pointer;
  top: 18px;
  right: 20px;
  fill: #000;
  opacity: 0.4;
}

.iconic-wsb-modal__header-icon--close:hover {
  opacity: 0.6;
}

.iconic-wsb-modal__titles {
  text-align: center;
}

.iconic-wsb-modal__product {
  margin-top: 45px;
}

.iconic-wsb-modal__product--summary {
  border-bottom: 1px solid #e7e7e7;
  margin: -20px -20px 20px;
  padding: 20px;
}

@media (min-width: 460px) {
  .iconic-wsb-modal__product--summary {
    margin: -30px -40px 30px;
    padding: 30px 40px;
  }
}
@media (min-width: 768px) {
  .iconic-wsb-modal__product--summary {
    margin: -40px -50px 40px;
    padding: 40px 50px;
  }
}
.iconic-wsb-modal__title {
  margin: 0 0 10px !important;
  font-size: 36px;
  line-height: 1.2;
}

.iconic-wsb-modal__modal-progress {
  margin-bottom: 30px;
}

.iconic-wsb-modal__subtitle {
  margin: 0 !important;
  font-size: 18px;
}

.iconic-wsb-modal-product-offer {
  border: 4px dashed #E7E7E7;
  padding: 30px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .iconic-wsb-modal-product-offer__row {
    margin: 0 -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .iconic-wsb-modal-product-offer__column {
    width: 50%;
    padding: 0 15px;
  }
}
.iconic-wsb-modal-product-offer__column--image {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .iconic-wsb-modal-product-offer__column--image {
    margin-bottom: 0;
  }
}
.iconic-wsb-modal-product-offer__image {
  position: relative;
  height: 350px;
}

@media (min-width: 768px) {
  .iconic-wsb-modal-product-offer__image {
    padding-bottom: 100%;
    height: auto;
  }
}
.iconic-wsb-modal-product-offer__image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
}

.iconic-wsb-modal-product-offer__offer-description {
  margin: 0 0 12px;
}

.iconic-wsb-modal-product-offer__title {
  margin: 0 0 10px;
  font-size: 26px;
}

.iconic-wsb-modal-product-offer__price {
  margin-bottom: 12px;
  font-size: 120%;
  font-weight: bold;
}

.iconic-wsb-modal-product-offer__price del {
  font-weight: normal;
  display: inline-block;
  margin: 0 6px 0 0;
}

.iconic-wsb-modal-product-offer__benefits {
  margin-bottom: 12px;
}

.iconic-wsb-modal-product-offer__benefits-list {
  margin: 0 !important;
  padding-left: 25px;
}

.iconic-wsb-modal-product-offer__actions {
  margin: 24px 0 0;
}

.iconic-wsb-modal-product-offer__action:not(:last-child) {
  margin-bottom: 12px;
}

.iconic-wsb-modal-product-offer__btn-skip {
  text-decoration: underline;
  color: #6d6d6d;
}

.iconic-wsb-modal-product-offer__btn-skip:hover {
  color: #3d3d3d;
}

.iconic-wsb-modal-product-offer .variations tbody tr td.label,
.iconic-wsb-modal-product-offer .variations tbody tr td.value {
  background: transparent;
}

.iconic-wsb-checkout-progress {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
}

@media (min-width: 768px) {
  .iconic-wsb-checkout-progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.iconic-wsb-checkout-progress__step {
  display: table-cell;
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .iconic-wsb-checkout-progress__step {
    display: initial;
    padding: 0 50px;
  }
}
@media (min-width: 890px) {
  .iconic-wsb-checkout-progress__step {
    padding: 0 80px;
  }
}
@media (min-width: 1200px) {
  .iconic-wsb-checkout-progress__step {
    padding: 0 100px;
  }
}
.iconic-wsb-checkout-progress__step:first-child .iconic-wsb-checkout-progress__step-line:before, .iconic-wsb-checkout-progress__step:last-child .iconic-wsb-checkout-progress__step-line:after {
  background: #000;
  display: none !important;
}

.iconic-wsb-checkout-progress__step-line:before, .iconic-wsb-checkout-progress__step-line:after {
  height: 6px;
  content: "";
  background: #E7E7E7;
  display: block;
  position: absolute;
  width: 50%;
  bottom: 9px;
}

.iconic-wsb-checkout-progress__step-line:before {
  left: 0;
}

.iconic-wsb-checkout-progress__step-line:after {
  right: 0;
}

.iconic-wsb-checkout-progress__step.is-active .iconic-wsb-checkout-progress__step-line:before, .iconic-wsb-checkout-progress__step.is-active .iconic-wsb-checkout-progress__step-line:after {
  background: #0059A4;
}

.iconic-wsb-checkout-progress__step.is-active + .iconic-wsb-checkout-progress__step.is-active .iconic-wsb-checkout-progress__step-line:after {
  background: #E7E7E7 !important;
}

.iconic-wsb-checkout-progress__step.is-active .iconic-wsb-checkout-progress__step-status {
  background: #0059A4;
}

.iconic-wsb-checkout-progress__step-status {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: auto;
  position: relative;
  background: #E7E7E7;
  z-index: 2;
}

.iconic-wsb-checkout-progress__step.complete .iconic-wsb-checkout-progress__step-status {
  background: #fff;
}

.iconic-wsb-checkout-progress__step-title {
  margin-bottom: 12px;
  white-space: nowrap;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 14px;
  color: #6d6d6d;
}

@media (max-width: 768px) {
  .iconic-wsb-checkout-progress__step-title {
    font-size: 12px;
    letter-spacing: 0;
  }
}
@media (max-width: 480px) {
  .iconic-wsb-checkout-progress__step-title {
    font-size: 10px;
  }
}
.is-active .iconic-wsb-checkout-progress__step-title {
  color: #0059A4;
}

.mdl-checkbox.iconic-wsb-checkout-bump__header {
  padding: 15px;
}

.mdl-checkbox.is-upgraded.iconic-wsb-checkout-bump__header {
  padding-left: 39px;
}

.iconic-wsb-checkout-bump__header .mdl-checkbox__box-outline {
  top: 19px;
  left: 15px;
}