/*
Theme Name: DBX Shop
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.1
*/

/*************** ADD CUSTOM CSS HERE.   ***************/

.iconic-wsb-product-bumps__discount-message {
	margin: 10px auto !important;
	display: table;
}


@media only screen and (max-width: 48em) {
	/*************** ADD MOBILE ONLY CSS HERE  ***************/


}